/*help style*/


/*pour tous*/
*{
    margin: 0;
    padding: 0;
}

/* header part*/

header {
    background-color: #1F2937;
    color: white;
}

/*nav bar*/
header nav{
    background-color: #1F2937;
    color: white;
}
nav{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .logo{
    width: 100px;
    height: auto;
    margin: 5px;
    border-radius: 10px ;
}
nav a{
    color: white;
    font-weight: 900;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}
nav .Tlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
}
/*partie en dessous de nav, */
.second{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.second .listen{
    display: flex;
    width: 600px;
}
.second .right{
    width: 60%;
    text-align: right;
    margin: 10px;

}
.second .img{
    width: 200px;
    border-radius: 10px;
}

.second .right .title{
    font-family: "Arial";
    font-weight: 600;
    font-size: 40px;
}
.second .right .text{
    font-family: arial;
    font-size: larger;
}
.second .button{
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px;
    border: #3882F6;
    color: white;
    font-weight: 900;
    margin: 10px;
}
.second a{
    color: white;
    font-weight: 400;
}

/*Podcast*/

.podcast .title{
    font-family: "Arial";
    font-weight: 800;
    color: #1F2937;
    margin: 50px;
    text-align: center;
}

.podcast .conteneur{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.podcast .conteneur .item{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.podcast .conteneur .text{
    font-family: Arial;
    text-align: center;
    margin: 10px;
    width: 200px;
    font-weight: 700;
    color: #1F2937;
}
.podcast .conteneur .img{
    width: 200px;
    height: 200px;
    border-radius: 10%;

}


/*citations*/
.citation{
    background-color: #E5E7EB;
    text-align: center;
    margin: 100px 0 100px 0;
    padding: 100px;
    font-size: 40px;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}
.citation .name{
    font-weight: 900;
    font-size: 30px;
    text-align: right;
}

.citation .text{
    color: #1f29378e;
    font-weight: lighter;
    font-style: italic;
}


/*popup*/
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .conteneur{
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    font-family: Arial;
    margin: 100px;
    height: 200px;
    width: 70%;
    font-size: 20px;
    gap: 200px;
}
.popup .conteneur button{
    background-color: #3882F6;
    border: 3px solid white;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.popup .conteneur .title{
    font-weight: 900;
}

/*footer */

footer a{
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-weight: 600;
    font-family: Arial;
    color: white;
}
