/*help style*/



/*pour tous*/
*{
    margin: 0;
    padding: 0;
}

/* header part*/

header {
    background-color: #1F2937;
    color: white;
}

/*nav bar*/
header nav{
    background-color: #1F2937;
    color: white;
}
nav{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .logo{
    width: 100px;
    height: auto;
    margin: 5px;
    border-radius: 10px ;
}
nav a{
    color: white;
    font-weight: 900;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}
nav .Tlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
}
/*partie en dessous de nav, */
.second{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.second .listen{
    display: flex;
    width: 600px;
}
.second .right{
    width: 60%;
    text-align: right;
    margin: 10px;

}
.second .img{
    width: 200px;
    border-radius: 10px;
}

.second .right .title{
    font-family: "Arial";
    font-weight: 600;
    font-size: 40px;
}
.second .right .text{
    font-family: arial;
}
.second .button{
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px;
    border: #3882F6;
    color: white;
    font-weight: 900;
    margin: 10px;
}
.second a{
    color: white;
    font-weight: 400;
}

/*footer */

footer a{
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-weight: 600;
    font-family: Arial;
    color: white;
}
